#root > div > div.nav-bar > nav > div > ul > li:nth-child(3){
  padding-right: 60px !important;
}

img{
  width: 100px !important;
  height: 100px !important;
  border-radius: 20% !important;
}

.todo_list, .input_text{
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  margin: 10px !important;
  box-sizing: unset !important;
}

.line_throgh{
  text-decoration: line-through;
}

.todo_content, .icons_box{
  display: flex !important;
  max-width: 85%;
  margin: 10px !important;
  align-items: center !important;
}

.todo_list{
  justify-content: space-between !important;
}

.input_text{
  justify-content: center !important;
}

.text_size{
  font-size: 1.4rem !important;
  height: fit-content !important; 
}

.input_button, .todo_content, .modifyButton{
  margin: 10px !important;
}

@media only screen and (max-width: 600px) {

  .todo_list{
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: center !important;
  }

  .input_button{
      align-self: flex-end !important;
      margin-top: 5px !important;
  }

  .text_size{
      font-size: 1.2rem !important;
  }

  .todo_content{
      max-width: 100% !important;
      margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 300px) {
  .text_size{
      text-overflow: ellipsis;
      white-space: nowrap !important;
      overflow: hidden !important;
  }

  .todo_content{
      max-width: 80% !important;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
